*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height:84px;
    background:#F5F7FA;
}
.nav-content{
    font-size:1rem;
    display:flex;
    gap:50px;
    list-style:none;
}
#login-btn{
    color:#4CAF4F;
    background:none;
    border:0;
    font-size:14px;
    line-height:20px;
    margin-right:14px;
    padding:10px 20px;
}
#signup-btn{
background-color:#4CAF4F;
color:#fff;
border:none;
padding:10px 20px;
border-radius:6px;
}
.section-1-main{
    height:calc(100vh - 84px);
    background:#F5F7FA;
    position:relative;
}
.section-1{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:104px;
    padding:96px 144px;
    box-sizing:border-box;

}
.right-sec1{
    height:276px;
    width:657px;
    /* border:1px solid red; */
    display:flex;
    flex-direction:column;
    gap:32px; 
    box-sizing:border-box;
}
.right-sec1 h1{
    font-size: 50px;
}
.right-sec1 span{
    color:#4CAF4F;
}
.right-sec1 p{
    font-size:14px;
}

.left-sec1{
    height:407px;
    width:391px;
    /* border:1px solid red; */
}
#register-btn{
    background-color:#4CAF4F;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
}
#dot-img{
    position:absolute; 
    bottom:10px;
    left:627px;
}
.section-2{
    margin:40px 0px;
}
.sec-2-top{
    text-align:center;
}
.sec-2-top h2{
    font-size:36px;
}
.sec-2-down{
    height:98px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.sec-3-top{
    height:120px;
    text-align:center;
}
.sec-3-top h2{
    font-size:36px;
    /* margin-bottom:8px; */
    
} 
.sec-3-down{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:280px;
    padding:0px 144px;
    /* border:1px solid black; */
}
.sec-3-down h3{
    font-size:28px;
    margin-top:16px;
    margin-bottom:8px;
    box-sizing:border-box;
}
.sec3-card{
    height:260px;
    width:299px;
    border:1px solid rgb(246, 245, 245);
    padding:24px 32px;
    box-sizing:border-box;
    text-align:center;
    box-shadow:0 0 25px rgb(243, 243, 243);
    border-radius:8px;

}
.section-b{
    height:2100px;
    /* border:1px solid green; */
}
.secb-1{
    height:433px;
    display:flex;
    /* margin-bottom:48px; */
    /* justify-content:space-between; */
    gap:50px;
    align-items:center;
    padding: 0px 144px;
    box-sizing:border-box;
 }
.secb-1-img{
    height:433px;
    width:430px;
    display:flex;
    justify-content:center;
    align-items:center;
    /* border:1px solid red; */
}
#rafiki-img{
    width:430.53px;
    height:328.99px;
     box-sizing:border-box;
     /* border:1px solid  blue; */
}
.secb-1-tb{
    width:650px;
    height:268px;
    /* border:1px solid green; */
}
.secb-1-text{
    width:590px;
    height:184px;
    /* border:1px solid black; */
    margin-bottom:32px;
}
.secb-1-text h2{
    font-size:36px;
    margin-bottom:16px;

}
.learn-more-btn{
    background-color:#4CAF4F;
    color:white;
    border:none;
    padding:14px 32px;
    border-radius:4px;

}
.secb-2{
    background:#F5F7FA;
    height:200px;
    /* border:1px solid black; */
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:64px 144px;
}
.secb-2-text{
    height:120px;
    width:500px;
    /* border:1px solid green; */
}
.secb-2-text h2{
    font-size:36px;
}
.secb-2-text span{
    color:#4CAF4F;

}
.secb-2-icons{
    height:160px;
    width:510px;
    /* border:1px solid red; */
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.secb-2-iconbox{
    display: flex;
     /* justify-content: space-between; */
}
.secb-2-icon-text{
    display:flex;
    gap:16px;
    width:255px;
    height:60px;
    /* border:1px solid black; */
}
.secb-2-icon-img{
    height:31px;
    width:46px;
}


.secb-3{
    height:433px;
    display:flex;
    /* margin-bottom:48px; */
    /* justify-content:space-between; */
    gap:50px;
    align-items:center;
    padding: 0px 144px;
    box-sizing:border-box;
 }
.secb-3-img{
    height:433px;
    width:430px;
    display:flex;
    justify-content:center;
    align-items:center;
    /* border:1px solid red; */
}
#pana-img{
    /* width:430.53px;
    height:328.99px; */
     box-sizing:border-box;
     /* border:1px solid  blue; */
}
.secb-3-tb{
    width:650px;
    height:268px;
    /* border:1px solid green; */
}
.secb-3-text{
    width:590px;
    height:184px;
    /* border:1px solid black; */
    margin-bottom:32px;
}
.secb-3-text h2{
    font-size:36px;
    margin-bottom:16px;

}
.secb-4{
    height:350px;
    background-color:#F5F7FA;
    padding:0 144px;
    display:flex;
    gap:70px;
    align-items:center;
    margin:20px 0px;
}
.secb-4-img{
    height:320px;
    width:326px;
    /* border:1px solid black; */
    
}
.secb-4-img img{
    height:100%;
    width:100%;
    object-fit:cover;

}
.secb-4-text{
    display:flex;
    flex-direction:column;
    gap:16px;
    width:748px;
    height:300px;
    /* border:1px solid black; */
}
.secb-4-down{
    height:48px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:10px;
    /* border:1px solid blue; */
}
.color-green{
    color:#4CAF4F;
}
.color-grey{
    color:#717171;
}
.secb-5{
    height:500px;
    /* border:1px solid black; */
    text-align:center;
}
.secb-5 h2{
    font-size:36px;
}
.secb-5-up{
    height:124px;
    /* border:1px solid rgb(242, 7, 7); */
    padding:0px 144px;


}
.secb-5-down{
    height:366px;
    display:flex;
    justify-content:space-between;
    /* border:1px solid rgb(40, 15, 233); */
    padding:0px 144px;
}
.secb-5-card{
    position:relative;
    height:366px;
    width:330px;
    /* border:1px solid green; */
    /* text-align:center; */
}
.mini-card{
    position:absolute;
    bottom:0;
    left:15px;
    z-index:1;
    border-radius:8px;
    padding: 20px 16px;
    height:180px;
    width:300px;
    /* border:1px solid yellow; */
    background:#F5F7FA;
    margin:0 auto;
    /* margin-top:-50px; */
    box-sizing:border-box;
}
.mini-card p{
    margin-top:32px;
}
.mini-card h4{
    font-size:20px;
}
.secb-5-imgcontainer{
    height:250px;
    width:330px;
    /* border:1px solid rgb(182, 6, 36); */
}
.secb-5-img{
    height:100%;
    width:100%;
}
/* .whole-footer{
    height:628px;
    border:1px solid black;
}
.top-footer{
    height:300px;
} */
